*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 30px;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    width: 90%;
    margin: auto;
}
img {
    object-fit: cover;
    width: 100%;
    border: 2px solid gold;
}

@media screen and (min-width: 376px) {
    main {
        grid-template-columns: 1fr 1fr 1fr
    }
}

@media screen and (min-width: 769px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}