@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: url('./assets/topography.svg'), linear-gradient(90deg, #f93d66, #6d47d9);
    background-size: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
    letter-spacing: -1px;
}

header{
    margin: 50px 40px 10px 38px;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
}

.navbar li{
    list-style-type: none;
}

.navbar a{
    display: flex;
    align-items: center;
    background-color: #ffc600;
    padding: 5px 20px;
    font-size: 20px;
    text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
    text-transform: uppercase;
    margin: 5px;
}

main{
    margin: 40px;
}

.main-section{
    display: grid;
    gap: 20px;
    margin: 20px 0;
}

.taco-main{
    background:url('./assets/taco-background.jpg');
    background-size: cover;
    padding: 150px 60px;
}

.taco-main__title{
    font-size: 28px;
    background: #ffc600;
    text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
    padding: 8px;
    display: inline-block;
}

.taco-main__subtitle{
    background: #ffc600;
    padding: 5px;
    font-weight: 900;
    margin-top: 25px;   
    font-size: 15px;
    display: inline-block;
}

.price-card__container{
    display:grid;
    gap: 20px;
}

.price-card{
    background-color: #ffc600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-card__value{
    font-weight: 300;
    font-size: 65px;
}

.item-card__container{
    display: grid;
    gap: 15px;
    margin-bottom: 20px;
}

.item-card{
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.item-card__image{
    width: 25%;
}

.item-card__name{
    font-weight: 700;
    margin-bottom: 16px;
}

.item-card__description{
    color: rgba(0,0,0,0.5);
}

.feature-taco{
    background-color: #fff;
    padding: 40px;
}

.feature-taco__image{
    width: 70%;
    margin: auto;
    display: block;
    max-width: 400px;
}

.feature-taco__title{
    font-size: 21px;
    margin-bottom: 15px;
}

.feature-taco__description{
    margin: 15px 0;
}

.feature-taco__link{
    background: #ffc600;
    font-weight: 100;
    padding: 8px 15px;
    margin-top: 5px;
    font-family: sans-serif;
    letter-spacing: 0;
    text-shadow: none;
    font-size: 14px;
    display: inline-block;

}

.instant-grams__title{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.instant-grams__image-container{
    display: grid;
    gap: 20px;
}

.instant-grams__image{
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 520px) {

    .price-card__container{
        grid-template-columns: 1fr 1fr;
    }

    .item-card__container{
        grid-template-columns: 1fr 1fr;
    }

    .instant-grams__image-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .main-section{
        grid-template-columns: 2fr 1fr;
    }

    .price-card__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .feature-taco{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .feature-taco__image{
        margin: 0;
    }
}

@media screen and (min-width: 740px) {
    .item-card__container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .instant-grams__image-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 960px) {

    .item-card__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .instant-grams__image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .navbar li{
        width: 20%;
        text-align: center;
    }

    .navbar a{
        display: block;
    }
}

@media screen and (min-width: 1180px) {
    .instant-grams__image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .instant-grams__image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

